body{
    background-color: burlywood;
}

.redBackground{
    background-color: red;
}
.button {
    margin: 20px;
    background-color: #2C3852; /* Green */
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  #infoIntake{
    text-align: center;
  }

  #firstNameCollumn{
      float: left;
      margin: 0 1.5%;
      width: 10%;
  }

#lastNameCollumn{
    float: left;
    margin: 0 1.5%;
    width: 10%;
}

#idNumberCollumn{
    float: left;
    margin: 0 1.5%;
    width: 10%;
}

#jobCollumn{
    float: left;
    margin: 0 1.5%;
    width: 10%;
}
#salaryCollumn{
    float: left;
    margin: 0 1.5%;
    width: 10%;
}
 
#deleteButton{
    float: left;
    margin: 1 1.5%;
    width: 10%;
}

#monthlyCost{
    position: relative;
}

  
  
  